body{
    background-color: silver;
    background-image: url(../images/Mamas.jpeg);
      margin: 0;
            height: 120vh; /* Altura completa de la ventana */
            display: flex; /* Activar flexbox */
            align-items: center; /* Centrar verticalmente los contenedores */
            justify-content: space-between; /* Espacio entre los contenedores */
            background-position: center; /* Centra la imagen en la p치gina */
            background-repeat: no-repeat; /* Evita que la imagen se repita */
           
}
label{
    font-weight: bold;
    padding: 50px;
}
@media only screen and(min-width: 1200px){
    
}
@media only screen and (max-width: 575px) {
    ul.menu-navegacion{
    display: none;
}}
.contenedor {
    width: 80%; /* Ancho del contenedor */
    height: 30%; /* Altura del contenedor */
    margin: 10px 0; /* Espaciado entre contenedores */
    background-size: cover; /* Asegura que la imagen cubra el 치rea */
    background-position: center; /* Centra la imagen */
}
.botoncito{
    border: 2px solid #6aaeea; /* Borde azul */
    border-radius: 8px; /* Esquinas redondeadas */
    padding: 5px; /* Espaciado interno */
    background-color: #6aaeea; /* Color de fondo */
    box-shadow: 0 2px 5px rgba(74, 23, 169, 0.1); /* Sombra suave */
    max-width: 7%; /* Ancho m치ximo del cuadro */
    margin: left; /* Centrado en la p치gina */
}

.izquierda {
    background-image: url('../images/lelo.jpeg'); /* Ruta de la imagen izquierda */
}
.centro {
    background-image: url("../images/watafa.jpeg");}

.derecha {
    background-image: url('../images/bkblblblbl.jpeg'); /* Ruta de la imagen derecha */
}